<div class="container pt-lg-md">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-6 col-xl-6">
      <div class="card shadow zindex-100">
        <div class="card-body px-md-5 py-5">
          <div class="text-center mb-5">
            <h6 class="h3">Welcome back</h6>
            <p class="text-muted mb-0">Log in to your account</p>
          </div>
          <span class="clearfix"></span>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <label class="form-control-label">Email address</label>
              <div class="input-group input-group-transparent">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "input-email", placeholder: "Email" %>
                <%= f.error_message_for :email %>
              </div>
            </div>
            <div class="form-group mb-4">
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <label class="form-control-label">Password</label>
                </div>
                <div class="mb-2">
                  <%= link_to "Lost password?", new_password_path(resource_name), class: "small text-unerline--dashed" %>
                </div>
              </div>
              <div class="input-group input-group-transparent">
                <%= f.password_field :password, autocomplete: "off", class: "form-control", id: "input-password", placeholder: "Password" %>
                <%= f.error_message_for :password %>
              </div>
            </div>
            <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                <div class="checkbox">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              </div>
            <% end -%>
            <div class="text-center mb-3">
              <%= f.submit "Log in", class: "btn btn-block btn-primary" %>
            </div>
            <div class="text-center">
              <small>Not registered?</small>
              <%= link_to "Signup", new_user_registration_path, class: "small font-weight-bold" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
