<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <div class="container">
    <a href="<%= root_path %>" class="navbar-brand">
      <img class="logo" src="<%= image_path("logo.png") %>" />
      Tandem Labs MVP
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="nav navbar-nav ml-auto">
        <%- if user_signed_in? -%>
        <li class="nav-item">
          <div class="nav-link">
            <%= current_user.name %> (<%= current_user.email %>)
          </div>
        </li>
        <%- if current_user.superadmin? -%>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
        <%- end -%>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
        <%- else -%>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_user_session_path %>">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_user_registration_path %>">Signup</a>
        </li>
        <%- end -%>
      </ul>
    </div>
  </div>
</div>
